.paginationContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginationContainer * {
  width: 30px;
  height: 30px;
  line-height: 37px;
  font-weight: 15px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.activePage {
  background-color: #aaa;
}

.paginationItem {
  width: 20px;
  height: 20px;
  font-weight: 12px;
}
