.error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error button {
  font-size: 24px;
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  border-radius: 3px;;
}