.headerStyle {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* header * {
  width: fit-content;
} */

.headerWrapper {
  display: flex;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
}

